html, body {
  height: 95vh;
}

body {
  display: flex;
  height: 95vh;
  padding: 0 10px 10px 0;
  margin-left: 10px;
  color: #fff;
  font-family: sans-serif;
}

h1 {
  width: 200px;
  margin: 30px auto;
}

.sidebar {
  flex: 0 0 250px;
  background-color: #2F4F4F;
}

.main-content-area {
  flex: 1;
  display: flex;
}

.main-content-area > div {
  flex: 1;
}

.cities {
  padding: 25px;
  font-size: 17px;
}
